body {
    line-height: 1.6;
    color: #fff;
    background: #000;
    font-size: 18px;
    font-weight: 400;
    font-family: "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

    body.stop {
        overflow: hidden;
    }

#page {
    position: relative;
    transition: 1s all ease-in-out;
}

    #page.menuopen {
        opacity: .6;
        filter: blur(20px);
        transform: scale(1.2);
    }

section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 50px;
    justify-content: center;
    align-items: center;
    background: #222;
    color: #fff;
    position: relative;
    /* Background Image Fixes */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

    section:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: #000;
        opacity: .5;
        height: 100%;
        width: 100%;
    }

    section h1 {
        font-size: 50px;
        margin: 0;
        z-index: 2;
        text-align: center;
    }

    section h2 {
        font-size: 30px;
        margin: 0;
        z-index: 10;
        text-align: center;
    }

header {
    z-index: 99999;
    position: relative;
}

    header #logo {
        position: fixed;
        top: 30px;
        left: 0;
        right: 0;
        width: 100px;
        height: auto;
        margin: 0 auto;
        opacity: 1;
        transition: .3s all cubic-bezier(0.075, 0.82, 0.165, 1) .6s;
    }

    header nav {
        display: flex;
        height: 100px;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        position: fixed;
        left: 0;
        right: 0;
        width: 500px;
        margin: 0 auto;
        top: 120px;
        background-color: rgba(255, 255, 255, .05);
        border-radius: 200px;
        z-index: 9;
        backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, .06);
        transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
    }

        header nav a {
            color: #fff;
            text-decoration: none;
            font-weight: 700;
            display: block;
            padding: 10px 20px;
            line-height: 1;
            font-size: 15px;
            letter-spacing: 2px;
            text-transform: lowercase;
            transition: .3s all cubic-bezier(0.075, 0.82, 0.165, 1) .6s;
        }

        header nav button {
            -webkit-appearance: none;
            background: rgba(0, 0, 0, .3);
            backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, .1);
            position: absolute;
            z-index: 99;
            left: 0;
            margin: auto;
            right: 0;
            top: 0;
            bottom: 0;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            outline: 0;
            border: 0;
            cursor: pointer;
            transition: .3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
            transform: scale(0);
        }

            header nav button span {
                width: 40%;
                background: #fff;
                height: 2px;
                display: block;
                margin: 5px auto;
                transform: scalex(0);
                transition: .6s transform cubic-bezier(0.075, 0.82, 0.165, 1) 0s, .3s margin ease-in 0s;
            }

            header nav button:hover {
                border-color: rgba(255, 255, 255, .5);
            }

                header nav button:hover span {
                    margin: 10px auto;
                }

    header.sticky #logo {
        top: 0;
        transform: scale(.8);
        opacity: 0;
        transition-delay: 0.5s;
    }

    header.sticky nav {
        top: 20px;
        padding: 0;
        width: 90px;
        height: 90px;
        transition-delay: 0.5s;
    }

        header.sticky nav button {
            transform: scale(1);
            transition-delay: 0.6s;
        }

            header.sticky nav button span {
                transform: scalex(1);
                transition: .6s transform cubic-bezier(0.075, 0.82, 0.165, 1) .8s, .3s margin ease-in 0s;
            }

        header.sticky nav a {
            padding: 0;
            opacity: 0;
            letter-spacing: 0px;
            transform: scale(0.3);
            transition-delay: 0.2s;
        }

#fixedlink {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    right: 0;
    left: 0;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 20px;
}

/* --- Slider CSS --- */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

/* This overrides the flex layout for the slider section so it fits */
#vision {
    padding: 0 !important;
    display: block !important;
}

.header__main {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    text-align: left;
}

.slider {
    width: 100vw;
    height: 100vh;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    width: 100%;
}

    .slide:target .slide__bg {
        opacity: 1;
    }

    .slide:target .slide__image {
        transform: translate(0);
        opacity: 1;
        transition-delay: 0.5s;
        filter: blur(0) drop-shadow(0px 10px 30px rgba(0,0,0,0.35));
    }

.slide__bg {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    filter: blur(50px);
    opacity: 0;
    transition: opacity 1s ease;
    will-change: opacity;
}

.slide__images {
    position: relative;
    width: 100%;
    max-width: 900px;
    height: 365px;
    margin: 0 20px;
}

.slide__image {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease-in-out 0s;
    filter: blur(10px) drop-shadow(0px 10px 30px rgba(0,0,0,0.35));
    will-change: transform, opacity, filter;
}

    .slide__image svg {
        display: block;
    }

.slide__image--left {
    transform: translate(0.75%, -10px);
}

.slide__image--right {
    top: 5vmin;
    transform: translate(-0.75%, 10px);
}

.slider__pagination {
    position: absolute;
    bottom: 7vh;
    width: 100%;
    text-align: center;
    z-index: 100;
}

.button {
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    border: 2px solid #fff;
    line-height: 1;
    font: 600 12px 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: white;
    transition: all 0.25s ease;
    appearance: none;
    margin: 0 10px;
}

    .button:hover {
        color: #333;
        background-color: white;
    }
